@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'montserrat';
    background: linear-gradient(35deg, #e3ade3, #20148b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.toggle-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
}

#icon-opened {
    transform: rotate(90deg);
}

#icon-closed {
    transform: rotate(0deg);
}

#sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

#sidebar.open {
    right: 0;
}

#toggle-sidebar-button {
    position: fixed;
    top: 20px;
    right: 25px;
    background: none;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 1001;
}

#toggle-sidebar-button svg {
    position: fixed;
}

#settings {
    position: fixed;
    margin-top: 26px;
}

#container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 3cap rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 400px;
    margin: 0;
    margin-right: 0px;
    overflow: hidden;
}

h1 {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 18px;
}

#notification {
    display: none;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    transition: opacity 0.4s ease-in-out;
}

#timer {
    color: aliceblue;
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 14px 25px;
    font-size: 17px;
    margin: 10px 5px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#start {
    background-color: #4CAF50;
    color: white;
}

#pause {
    display: none;
    background-color: #ef9001;
    color: white;
}

#resume {
    display: none;
    background-color: #4CAF50;
    color: white;
}

#reset {
    display: none;
    background-color: #F44336;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #BDBDBD;
    cursor: not-allowed;
}

#progress-bar {
    width: 100%;
    height: 8px;
    background-color: #cccccc;
    border-radius: 4px;
    margin: 15px 0 20px;
    overflow: hidden;
}

#progress-bar-filled {
    height: 100%;
    background: linear-gradient(to right, #ff4583, #2f4ae2);
    transition: width 1s linear;
}

#custom-duration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

#custom-duration-form .duration-input {
    margin-bottom: 10px;
    text-align: left;
}

#custom-duration-form label {
    font-size: 14px;
    color: #ccc;
}

#short-break-duration,
#work-duration,
#long-break-duration {
    width: 93%;
}

#custom-duration-form input {
    padding: 10px;
    background-color: #292939;
    color: #ccc;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #444;
    transition: all 0.3s ease;
}

#custom-duration-form input:focus {
    outline: none;
    border-color: #484bff;
}

#custom-duration-form button {
    background-color: #4447d8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

#custom-duration-form button:hover {
    background-color: #3a3aff;
}

#sound-toggle {
    margin-top: 10px;
    font-size: 14px;
    justify-content: center;
}

#sound-toggle input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

#save-durations {
    margin-top: 20px;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    #custom-duration-container {
        width: 90%;
        padding: 15px;
    }

    #sidebar {
        width: 55%;
    }
}