@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Poppins';
    background: linear-gradient(135deg, #20148b, #ffc2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

#container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 3cap rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 400px;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 18px;
}

#notification {
    display: none;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    transition: opacity 0.4s ease-in-out;
}

#timer {
    color: aliceblue;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1px;
}

#button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    font-family: 'Poppins';
    padding: 11px 25px;
    font-size: 16px;
    margin: 10px 5px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#start {
    background-color: #4CAF50;
    color: white;
}

#pause {
    display: none;
    background-color: #ef9001;
    color: white;
}

#resume {
    display: none;
    background-color: #4CAF50;
    color: white;
}

#reset {
    display: none;
    background-color: #F44336;
    color: white;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #BDBDBD;
    cursor: not-allowed;
}

#progress-bar {
    width: 100%;
    height: 8px;
    background-color: #cccccc;
    border-radius: 4px;
    margin: 15px 0 20px;
    overflow: hidden;
}

#progress-bar-filled {
    height: 100%;
    background: linear-gradient(to right, #ff4583, #2f4ae2);
    transition: width 1s linear;
}

#custom-duration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#edit-duration-button {
    background-color: #373adc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 80%;
    margin-bottom: 15px;
}

#edit-duration-button:hover {
    background-color: #3328ff;
}

#custom-duration-form {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

#custom-duration-form .duration-input {
    margin-bottom: 5px;
    text-align: left;
}

#custom-duration-form label {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
    text-align: left;
}

#custom-duration-form input {
    padding: 10px;
    background-color: #292939;
    color: #f8f8f8;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #444;
    width: 100%;
    transition: all 0.3s ease;
}

#custom-duration-form input:focus {
    outline: none;
    border-color: #3235ec;
}

#custom-duration-form button {
    background-color: #4447d8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

#custom-duration-form button:hover {
    background-color: #3a3aff;
}


@media (max-width: 600px) {
    #custom-duration-container {
        width: 90%;
        padding: 15px;
    }
}