<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div id="container">
        <h1 id="session-heading">Focus Session</h1>
        <div id="timer">25:00</div>
        <button id="start">Start</button>
        <button id="pause">Pause</button>
        <button id="resume">Resume</button>
        <button id="reset">Reset</button>
        <div id="progress-bar">
            <div id="progress-bar-filled" style="width: 100%;"></div>
        </div>
        <div id="notification"></div>
        <div id="custom-duration-container">
            <button id="edit-duration-button">Edit Duration</button>

            <!-- Hidden by default, toggled visibility when the button is clicked -->
            <div id="custom-duration-form" style="display: none;">
                <div class="duration-input">
                    <label for="work-duration">Work (min):</label>
                    <input id="work-duration" type="number" min="1" value="25">
                </div>
                <div class="duration-input">
                    <label for="short-break-duration">Short Break (min):</label>
                    <input id="short-break-duration" type="number" min="1" value="5">
                </div>
                <div class="duration-input">
                    <label for="long-break-duration">Long Break (min):</label>
                    <input id="long-break-duration" type="number" min="1" value="15">
                </div>
                <button id="save-durations">Save</button>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>